.image-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 1em;

	.image-avatar {
		width: 5em;
		height: 5em;
		border-radius: 50%;
		margin: auto;
	}
}

img.image-avatar_header {
	width: 1.7em;
	height: 1.7em;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 0.3em;
}

img.image-avatar_quote {
	width: 3em;
	height: 3em;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 0.3em;
}

// Desktop Size
@media only screen and (min-width: $maxWidth) {
	img.image-avatar_header {
		width: 1em;
		height: 1em;
	}
}
