// RESPONSIVE (VIEWPORT SIZES)
$minWidth: 350px !default;
$maxWidth: 1200px !default;

// Colors:
$mainColor: rgb(0, 122, 255); // Apple System Light Blue
$mainColorhover: rgb(0, 100, 200);
$Light: rgb(247, 247, 247); // My White
$backColor: rgb(230, 230, 230); // Background color
$Dark: rgb(28, 28, 30); // My Black
$MedLight: rgb(142, 142, 147); // My Gray: Silver
$Danger: rgb(255, 59, 48); // Apple System Light Red
$ExtraLight: rgba(1, 1, 1, 0.1);
